*{
    box-sizing: border-box;
}
body{
    background-color: white !important;
}
.section {
    width: 100%;
    padding: 10em 5%;
    color: white;
    height: 40em;
}
.section img{
    width: 100%;
    height: auto;
}
.section .banner{
    position: absolute;
    left: 0;
    height: 30em;
}
.section .ulBody{
    position: absolute;
    top: 15em;
    text-align: left;
}
.section .lettersImg{
    position: absolute;
    left: 0;
    top: 23em;
}
.section p {
    max-width: 50%;
}
.section ul li{
    min-width: 40%;
    z-index: 1;
    margin-top: 5%;
}
.ulBody {
    text-align: center;
    display: inline;
    flex-direction: column;
}
body .section{
    /* background: linear-gradient(#6141e2, #b6a9f0); */
    background: rgb(165,52,187);
    background: linear-gradient(90deg, rgba(165,52,187,1) 0%, rgba(146,62,192,1) 35%, rgba(126,73,199,1) 100%);
}
.section video{
    position: absolute;
    height: 125vh;
    overflow: hidden;
    margin-top: 5%;
} 
.section h2, .circleDiv h2, .scrollContainer h2 {
    font-size: 38px;
    font-style: normal;
    line-height: 50px;
}
.scrollContainer{
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    padding-left: 0;
    width: 70%;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    border-radius: 8px;
    gap: 12px;
    text-align: center;
    margin: 4em auto;
    /* margin-bottom: 1em; */
}
.scrollContainer .scrollItem{
    flex: 0 0 100%;
    padding: 1rem;
    border-radius: 8px;
    scroll-snap-align: start;
    color: white;
}
.scrollContainer .scrollYellow{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

}
.scrollContainer .scrollOrange{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}
.scrollContainer .scrollBlue{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.scrollContainer .scrollPurple{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.scrollContainer .scrollGreen{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

.leadershipContainer {
    padding: 2em;
    text-align: center;
    color: black;
    background: aliceblue;
}
.leadershipContainer h3{
    padding: 1.5em 0;
    font-size: 3rem;
    font-weight: 600;
}
.leadershipContainer p{
    font-size: 1rem;
    line-height: 2em;
}
.leadershipContainer img{
    width: 100%;
}
.leadershipTeam{
    text-align: center;
    display: inline-flex;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
}
.leadershipTeam div{
    max-width: 300px;
}
.leadershipTeam div .team{
    margin: 3em;
    border: 5px solid white;
    border-radius: 100%;
}
.leadershipTeam .buttonRS{
    margin-top: -22px;
    transition: .35s;
    position: relative;
}
.leadershipTeam .buttonRS::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 50%;
    border-radius: 100px;
    transition: .5s;
    background-size: 200%;
    background-image: linear-gradient(to right,#cc2b5e 0%,#753a88 51%,#cc2b5e 100%);
}
.leadershipTeam .opened::before{
    width: 244px;
}
.leadershipTeam .openIconList{
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    cursor: pointer;
    z-index: 9999;
    pointer-events: none;
}
.leadershipTeam .openIconList::before{
    transform: translate(-50%, -50%) rotate(0deg);
}
.leadershipTeam .openIconList::after{
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.leadershipTeam .openIconList::after, .leadershipTeam .openIconList::before{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 15px;
    height: 2px;
    background: #fff;
    content: '';
    transition: all .4s ease-in-out;
} 
.openList{
    display: none;
    transition: .35s;
}
.openList a{
    margin: 0 10px;
}
.opened{
    display: block;
}
.buttonRS button{
    width: 50px;
    height: 50px;
    z-index: 100000;
}

/* 
@media only screen and (max-width: 1024px) {
    video{
        margin-top: -10%;
    }
}
@media only screen and (max-width: 768px) {
    h2{
        font-size: 26px;
    }
    .section ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .ulBody{
        margin-top: 2em;
    }
    .section{
        padding: 7em 5%;
    }
    img{
        width: 100%;
        height: auto;
    }
    video{
        margin-top: -27%;
    }
}
@media only screen and (max-width: 500px) {
    h2{
        font-size: 26px;
    }
    .section ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ulBody{
        margin-top: 5em;
    }
    .section{
        padding: 5em 5%;
    }
    img{
        width: 100%;
        height: auto;
    }
    video{
        margin-top: -57%;
    }
}
 */

@media only screen and (min-width: 576px) {
    .scrollContainer{
        width:55%;
    }
    .scrollContainer .scrollItem{
        flex: 0 0 95%;
    }
    .section .banner{
        height: 40em;
    }
    .section{
        height: 50em;
    }
    .section .lettersImg{
        top: 22em;
    }
}
@media only screen and (min-width: 768px) {
    .scrollContainer{
        width:50%;
    }
    .scrollContainer .scrollItem{
        flex: 0 0 85%;
    }
    .section h2 {
        font-size: 50px;
        font-style: normal;
        line-height: 70px;
    }
    .section p {
        font-size: 20px;
    }
    .section ul{
        top: 17em;
    }
    
}
@media only screen and (min-width: 992px) {
    .scrollContainer{
        width:60%;
    }
    .scrollContainer .scrollItem{
        flex: 0 0 65%;
    }
    /* .section img{
        width: 50%;
    } */
    .section .banner{
        top: 0;
        height: 45em;
    }
    .section{
        height: 45em;
    }
    .section ul{
        top: 19em;
    }
    .leadershipTeam div .team{
        margin: 2em;
    }
    .leadershipTeam div{
        max-width: 15em;
    }
}
@media only screen and (min-width: 1200px) {
    .scrollContainer{
        width:70%;
    }
    .scrollContainer .scrollItem{
        flex: 0 0 55%;
    }
    .section .banner{
        top: 0;
        height: 50em;
    }
    .section .lettersImg{
        top: 20em;
    }
    .section{
        height: 50em;
    }
    .leadershipTeam div{
        max-width: 10em;
    }
    .leadershipTeam{
        gap: 0%;
    }
}
@media only screen and (min-width: 1400px) {
    .scrollContainer .scrollItem{
        flex: 0 0 35%;
    }
}